useDynLib(tcR)
exportPattern("^[[:alpha:]]+")
export('.split.get')
importFrom(Rcpp, evalCpp)
importFrom(stringdist, stringdist)
importFrom(gridExtra, grid.arrange, arrangeGrob)
importFrom(reshape2, melt, dcast, acast)
import(ggplot2)
import(data.table)
importFrom(dplyr, grouped_df, summarise, summarise_, select, select_ )
importFrom(gtable, gtable_filter)
import(grid)
import(roxygen2)
import(utils)
import(igraph)
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("graphics", "segments")
importFrom("stats", "aggregate", "as.formula", "na.exclude", "prcomp",
          "qnorm", "quantile", "rmultinom", "runif")