useDynLib(tcR)
exportPattern("^[[:alpha:]]+")
export('.split.get')
importFrom(Rcpp, evalCpp)
importFrom(stringdist, stringdist)
importFrom(gridExtra, grid.arrange, arrangeGrob)
importFrom(reshape2, melt)
import(ggplot2)
import(data.table)
importFrom(dplyr, grouped_df, summarise)
importFrom(gtable, gtable_filter)
import(grid)
import(roxygen2)
import(utils)
import(igraph)