useDynLib(tcR)
exportPattern("^[[:alpha:]]+")
export('.split.get')
importFrom("grDevices", "colorRampPalette", "rainbow")
importFrom("graphics", "segments")
importFrom("stats", "aggregate", "as.formula", "dist", "na.exclude",
           "p.adjust", "prcomp", "qnorm", "quantile", "rmultinom",
           "runif", "sd")
importFrom(Rcpp, evalCpp, cppFunction)
importFrom(stringdist, stringdist)
importFrom(gridExtra, grid.arrange, arrangeGrob)
import(ggplot2)
importFrom(reshape2, melt, dcast, acast)
importFrom(data.table, data.table, as.data.table, setnames, setkeyv, setattr)
importFrom(dplyr, grouped_df, summarise, summarise_, select, select_)
importFrom(gtable, gtable_filter)
importFrom(grid, unit.c)
import(utils)
import(igraph)